@model CarWashManagement.Models.VehicleWash

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VehicleWash</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicle.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wash.WashType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wash.WashType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleReg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RefNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
